:root {
  --font-sans: 'Source Sans Pro', sans-serif;
  
  --white-color: rgb(245, 245, 245);
  --fw-orange: #ee9249;
  --black: rgb(49, 49, 49);
  --grey: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
	font-family: var(--font-sans);
	scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white-color);
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: auto;
  background-color: var(--fw-orange);
}

.header h1 {
  font-size: 4.4rem;
  font-weight: 700;
  color: var(--white-color);
} 

.header > * {
  margin: auto 0;
}

.nav{
  width: 700px;
}

.nav .nav_elements{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 60px;
  height: 500px;
  width: 1480px;
  margin: 0 auto;
}

.main-content p{
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--font-sans);
  padding: 30px 50px;
  margin: auto 0;
  color: var(--black)
}

.main-content figure {
  margin: auto 0;
  padding: 30px 50px;
}

.main-content figure img {
  width: 90%;
  height: 85%;
  border-radius: 2px;
}

.places {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin: 70px auto;
  background-color: var(--fw-orange);
}

.places-section {
  width: 250px;
}

.places-section p {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--font-sans);
  padding: 5px 5px;
  margin: auto 0;
  color: var(--white-color)
}

.places-image img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.star {
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}

.star h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.4rem;
}

.star figure {
  overflow: hidden;
  height: 500px;
}

.star figure img {
  width: 2000px;
  opacity: 0.9;
}

.star figure img:hover {
  opacity: 0.5;
}



/**Componentes*/

hr.rounded {
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid var(--grey);
}

.button{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--white-color);
  font-family: var(--font-sans);
}

.button:hover {
  color: var(--black);
}

form .input-form{
  padding: 5px;
  font-size: 17px;
  border: 1px solid var(--white-color);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  width: 70%;
  height: 40px;
  background: var(--white-color);
}

form .input-form:focus {
  outline: none;
}

form .search-btn {
  float: right;
  width: 30%;
  height: 40px;
  padding: 10px;
  background: var(--grey);
  color: var(--white-color);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

::placeholder {
  color: var(--grey);
  font-size: 1.0em;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #eeeeee; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--grey); 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}